@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap');
.logo {
    width: 100px;
    padding: 5px;
    justify-self: center;
    float: left;

}
header {
    max-width: 100%;
    background-color:#00AFB9 ;
    border: dashed 1px pink;
    display: flex;
    grid-template-columns: 150px auto 48px;
    
}
header button {
    height: 48px;
    width:  48px;
    font-size: 2rem;
}
nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    font-size: 18px;
}

.menu {
    /* position: fixed; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    overflow: hidden;
    
}
.menu li a {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 12rem;
    position: relative;
}
li a.menu-item {
    display: none;
}
li a.menu-item.open {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content menu{
    
    justify-content: right;
}
/* header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: lightblue;
    
} */
 .hero{
    max-width: 100%;
}
#hero-img {
    width: 100%;
    
} 
#hero-msg {
    text-align: center;
    color:#0081A7;
}


.event {
    grid-column: 2/4;
    font-size: 15px;
}

.weather {
    grid-column: 1/2 ;
    grid-row: 1/2;
}

footer {
    max-width: 100%;
    background-color:#FED9B7;
    justify-items: center;
    color:#2F188C;
    text-align: center;
    padding: .2em;
    display: block;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem; */
}
p {
    text-align: center;
    
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-color: lightsteelblue;
    
}
main section {
    background-color: #ddd;
    /* margin: 3px; */
    padding: .5rem;
    text-align: center;

}
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); */

.heroimage, .herolabel {
    max-width: 670px;
    margin: 0 auto;
}
.heroimage {
    margin: 10px auto;
    position: relative;
    border: 1px solid
rgba(0,0,0,.1);
    height: 300px;
}
.hero img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#ffff, #4D5B97);
    border: 1px solid
rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #ffff;
    opacity: 0.75;
}
.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}

ul #activities {
    list-style-type: none;
}
.weather h2 {
    font-size: 18px;;
}
.join {
    font-size: 18px;
}
/* main {
    border-color: black solid;
} */
main .banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}