@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap');
.logo {
    width: 100px;
    padding: 5px;
    justify-self: center;
    float: left;

}
nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 1rem;
    font-size: 18px;
}
.mainnav {
    display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    
}
.menu {
    list-style-type: none;
    
    padding: 1rem;
    
}

.content menu{
    
    justify-content: right;
}
/* header {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: lightblue;
    
} */
 .hero{
    max-width: 100%;
}
#hero-img {
    width: 100%;
    
} 
#hero-msg {
    text-align: center;
    color: blue;
}


.event {
    grid-column: 2/4;
    font-size: 15px;
}

.weather {
    grid-column: 1/2 ;
    grid-row: 1/2;
}

footer {
    /* display: flex; */
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}
p {
    text-align: center;
    
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-color: lightsteelblue;
}
main section {
    background-color: #ddd;
    /* margin: 3px; */
    padding: .5rem;
    text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.heroimage, .herolabel {
    max-width: 670px;
    margin: 0 auto;
}
.heroimage {
    margin: 10px auto;
    position: relative;
    border: 1px solid
rgba(0,0,0,.1);
    height: 300px;
}
.hero img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#ffff, #4D5B97);
    border: 1px solid
rgba(0,0,0,.75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #ffff;
    opacity: 0.75;
}
.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 2rem;
    font-family: "Great Vibes",
}

ul #activities {
    list-style-type: none;
}
.weather h2 {
    font-size: 18px;;
}
.join {
    font-size: 18px;
}
main {
    border-color: black solid;
}