@media only screen and (min-width: 40rem) {
    nav ul {
        flex-direction: column;
        justify-content: right;
        gap: 3rem;
        
    }
    main {
        /* max-width: 600px; */
        display: flex;
        padding: 1rem;
        margin:auto;
        flex-direction: column;
        
        
    }
    footer {
        flex-direction: row;
        gap: 1rem;
    }
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 10px auto;
        position: relative;
        /* border: 1px solid; */
        grid-gap: .5rem;
        
    }
}