@media only screen and (min-width: 40rem) {
    nav ul {
        flex-direction: column;
        justify-content: right;
        gap: 3rem;
        
    }
    #mainnav {
        display: flex;
        flex-direction: row;
        gap: 8px;
        text-align: center;
        margin-top: 5rem;
        
    }
    #hamIcon {
        display: none;
    }
    .menu {
        display: block;
        list-style-type: none;
        margin: 10px;
        padding: 0;
        z-index: 10;
        overflow: hidden;
        position: absolute;
        
    }
     .menu li a {
        display: flex;
        text-decoration: none;
        text-align: center;
        width: 12rem;
        padding: 1rem;
        margin: 0 auto;
        flex-direction: row;
        justify-items: right;
        
    }
    /* li a.menu-item {
        display: none;
    } */
    li a.menu-item {
        display: flex;
        color: black;
        
    } 

    main {
        /* max-width: 600px; */
        display: flex;
        padding: 1rem;
        margin:auto;
        flex-direction: column;
    }   
    .join {
        color: black;
    }   
    
    footer {
        flex-direction: row;
        gap: 1rem;
    }
    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 10px auto;
        position: relative;
        /* border: 1px solid; */
        grid-gap: .5rem;
        
    }
}