@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Playfair+Display:ital@1&display=swap');
nav ul{
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    /* display: flex;
    flex-direction: row;
    gap: 8px;
    text-align: center;
    width:100%;
    list-style-type: none; */
} 
nav {
    position: absolute;
    top: 60px;
    right: 0px;
    display: none;
    /* color:black;
    text-decoration: none;
    background-color: darkkhaki;
    padding: .8em; */
}
nav.open {
    display: block;
}
nav a {
    display: block;
    padding: .75rem 2rem;
    
} 
.profile {
    width: 150px;
}
header {
    max-width: 100%;
    background-color:#83D1D8 ;
    border: dashed 1px pink;
    display: grid;
    grid-template-columns: 150px auto 48px;
    /* justify-items: center;
    color:#2F188C;
    text-align: center; */
}
header button {
    height: 48px;
    width:  48px;
    font-size: 2rem;
}
h1 {
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    text-align: center;
    justify-content: center;
    font-size: 25px;
}
 

h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    max-width: 640px;
    font-size: 30px;
    color: #2F188C;
    background-color: #83D1D8;
    text-align: center;
    padding: 1rem;
    margin-bottom: auto;
}
h3 {
    font-size: 20px;
    color: #2F188C;
    background-color: #83D1D8;
    text-align: center;
    padding: .2rem;
}
footer {
    max-width: 100%;
    background-color:darkkhaki;
    justify-items: center;
    color:#2F188C;
    text-align: center;
    padding: .2em;
}


main {
    display: block;
    height: auto;
    grid-template-columns: 1fr;
    /*flex-direction: row-reverse;*/
    gap: 3rem;
    max-width: 1060px;
    margin: 0 auto;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
}
.heroimage {
    width: 100%;
    margin: auto;
    display: grid;
    

}
main picture img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius:  5px;
    
    
}

.herolabel {
    position: absolute;
    align-self: center;
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    left: 200px;
    margin-top: 5px;
    color: purple;
    padding: 1rem;
    
    
}
.mapouter {
    align-items: center;
    margin: auto;
    width: 100%;
}
.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}