@media only screen and (min-width: 40rem) {
    /* main {
        display: block;
        height: auto;
        flex-direction: row-reverse;
        gap: 3rem;
    } */
    /* header {
        grid-template-columns: auto auto;
    } */
    header button {
        display: none;
    }
    nav ul {
        display: flex;
        
        justify-content: flex-end;
        gap: 3rem;
        
    }
    
    nav {
        position: initial;
        display: block;
    }
    
    main {
        max-width: 1000px;
        /* display: grid;
        margin: auto;
        grid-template-rows: 150px 1fr 1fr;
        grid-template-columns: 1fr 200px;
        border: 15px black; */
    }
    /* .card1 {
        grid-column: 1/2;
        grid-row: 2/4;
        padding: 1em;
        font-size: 20px;
        background-color:#83D1D8;
        
    }
    .card2 {
        grid-column: 2/3;
        grid-row: 2/3;
        padding: 1em;
        font-size: 20px;
        background-color: #83D1D8;
    }
    
    .card3 {
        grid-column:2/3;
        grid-row: 3/4;
        padding: 1em;
        font-size: 20px;
        background-color:#83D1D8; */
    /* } */
    .grid-container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
}
